<section class="tut-row" [ngClass]="{ 'reverse': reverse }">
  <div class="tut-text">
    <h3 *ngIf="title">
      {{ title | transloco : {} : (scope ? { scope: scope } : undefined) }}
    </h3>
    <ng-content></ng-content>
  </div>

  <!-- VIDEO -->
  <figure class="tut-media" *ngIf="showVideo" fadeInOnScroll>
    <div class="yt-wrap">
      <iframe
        [src]="embedUrl"
        [attr.title]="
          (title
            ? (title | transloco : {} : (scope ? { scope: scope } : undefined))
            : ('tutorial.common.videoTitle' | transloco)
          )
        "
        [attr.loading]="lazyVideo ? 'lazy' : null"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>
    <figcaption *ngIf="caption">
      {{ caption | transloco : {} : (scope ? { scope: scope } : undefined) }}
    </figcaption>
  </figure>

  <!-- IMAGE -->
  <figure class="tut-media" *ngIf="!showVideo && img" fadeInOnScroll>
    <img
      [src]="img"
      [attr.alt]="
        alt
          ? (alt | transloco : {} : (scope ? { scope: scope } : undefined))
          : (title
              ? (title | transloco : {} : (scope ? { scope: scope } : undefined))
              : ('tutorial.common.imageAlt' | transloco)
            )
      "
      [attr.loading]="lazyImg ? 'lazy' : 'eager'">
    <figcaption *ngIf="caption">
      {{ caption | transloco : {} : (scope ? { scope: scope } : undefined) }}
    </figcaption>
  </figure>
</section>
