<div class="carousel" *transloco="let t">
  <button class="car-arrow left"
          [attr.aria-label]="t('home.products.aria.prev')"
          (mouseenter)="hover(-1)"
          (mouseleave)="stopHover()"
          (click)="spring(-1)">&#10094;</button>

          <div #track class="car-track"
          (touchstart)="onTouchStart()"
          (touchend)="onTouchEnd()"
          (touchcancel)="onTouchEnd()"
          (scroll)="onTrackScroll()">
          
          <article class="card"
          *ngFor="let p of loopProducts; let i = index; trackBy: trackByLoop"
          role="button"
          tabindex="0"
          (click)="openDialog(p)"
          (keyup.enter)="openDialog(p)"
          (dragstart)="$event.preventDefault()">
 

     
         <img [src]="p.img"
              draggable="false"
              (dragstart)="$event.preventDefault()"
              [attr.aria-label]="t('home.products.' + p.id + '.imgAlt') || t('home.products.' + p.id + '.title')"
              decoding="async"
              loading="lazy"
              fetchpriority="low"
              [attr.alt]="t('home.products.' + p.id + '.imgAlt') || t('home.products.' + p.id + '.title')">
     
         <div class="card-body">
           <h3>{{ t('home.products.' + p.id + '.title') }}</h3>
           <p class="desc">{{ t('home.products.' + p.id + '.desc') }}</p>
         </div>
       </article>
     </div>
     

  <button class="car-arrow right"
          [attr.aria-label]="t('home.products.aria.next')"
          (mouseenter)="hover(1)"
          (mouseleave)="stopHover()"
          (click)="spring(1)">&#10095;</button>
</div>
